# Phoenix / Elixir
blog/_build/
blog/deps/
blog/doc/
blog/cover/
blog/.fetch
blog/tmp/
blog/*.ez
blog/blog-*.tar
blog/erl_crash.dump

# Compiled frontend assets
blog/priv/static/assets/
blog/priv/static/cache_manifest.json

# Node
blog/assets/node_modules/
npm-debug.log
