# Phoenix Secret Key Base (Generate with: mix phx.gen.secret)
SECRET_KEY_BASE=AzSYdvZj1lvYKuQD4ejEVHeo1FyMMflbzNw4Hhn7yDQ6AKithgnhJnNNJQgOFhQl

# Database Configuration
DATABASE_URL=postgres://postgres:postgres@localhost:5433/blog_dev

# Session and LiveView Salts
SESSION_SIGNING_SALT=mCnlGDzm
LIVE_VIEW_SIGNING_SALT=+L8RkCaW

# Application Host (Production)
PHX_HOST=app.render.com

# --- MAILER ---
MAILER_FROM=no-reply@yourdomain.com
RESEND_API_KEY=re_123456789pass
