# Phoenix Secret Key Base (Generate with: mix phx.gen.secret)
SECRET_KEY_BASE=AzSYdvZj1lvYKuQD4ejEVHeo1FyMMflbzNw4Hhn7yDQ6AKithgnhJnNNJQgOFhQl

# Database Configuration
DATABASE_URL=postgres://postgres:postgres@localhost:5433/blog_dev

# Session and LiveView Salts
SESSION_SIGNING_SALT=mCnlGDzm
LIVE_VIEW_SIGNING_SALT=+L8RkCaW

# Application Host (Production)
PHX_HOST=devwrite.render.com

# Mailer Configuration (Swoosh)
# For SMTP:
# SMTP_RELAY=smtp.example.com
# SMTP_USERNAME=user
# SMTP_PASSWORD=pass
